body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.container {
  min-height: calc(100vh - 134px);
  padding: 1.5rem 0;
}

.movieList {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2rem;
}

.flexcard {
  border-radius: 2px;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  l: 1;
}

.flex {
  display: flex;
  justify-content: center;
}

.search {
  position: sticky;
  bottom: 0;
  right: 0;
}
.filters {
  display: grid;
  grid-template-columns: 15% 20% 20%;
  margin-bottom: 1rem;
}
